.footer-container {
  background-color: black;
  padding: 70px;
  margin-top: 50px;
  font-size: 20px;
}
.footer-container .footer-content-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin: 30px;
}
.footer-container .block {
  display: block;
}
.footer-container .address {
  margin-top: 25px;
}
.footer-container .address p {
  margin: 10px;
  letter-spacing: 1.5px;
  color: #eee;
  text-transform: capitalize;
}
.footer-container .footer-contact a {
  color: white;
}
.footer-container .footer-contact .social-icon {
  color: #757575;
  transition: color 0.3s ease;
}
.footer-container .footer-contact .social-icon:hover {
  color: #f0900a;
}
.footer-container .footer-contact nav ul {
  color: white;
  display: flex;
  gap: 15px;
  margin: 15px;
}
.footer-container .quick-links {
  justify-content: center;
  align-items: center;
  display: block;
  margin: 10px;
}
.footer-container .quick-links h4 {
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ec7532;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
}
.footer-container .quick-links li {
  font-size: 25px;
}
.footer-container .quick-links li a {
  font-size: 13px;
  display: inline-block;
  letter-spacing: 1px;
  color: #eee;
  text-transform: capitalize;
}
.footer-container h3 {
  font-size: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ec7532;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 15px;
}
.footer-container p {
  margin: 10px;
  font-size: 13px;
  letter-spacing: 1.5px;
  color: #eee;
  text-transform: capitalize;
}
.footer-container img {
  display: block;
  margin: 5px;
}
.footer-container .payback-number {
  color: #ec7532;
}

@media (max-width: 768px) {
  .footer-container .footer-content-container {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    width: 100%;
    height: auto;
  }
  .footer-container .app-block {
    display: block;
  }
}