@import url("https://fonts.googleapis.com/css2?family=Aleo&family=Delius+Unicase:wght@400;700&family=Inter&family=Josefin+Sans:wght@300;400;700&family=Open+Sans:wght@700&family=Raleway:wght@400;500&family=Roboto:wght@900&display=swap");
* {
  box-sizing: border-box;
}

section.travel {
  background-image: url("../img/travel.jpg");
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.travel .container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}
section.travel .search-form {
  width: 647px;
  height: 60px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
section.travel h2 {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 295px;
  margin-bottom: 8px;
}
section.travel p {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 6.82px;
  margin-bottom: 48px;
  text-align: center;
}
section.travel .search-input {
  width: 647px;
  height: 60px;
  background: #FFF;
  color: #999;
  font-family: Josefin Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.8px;
  text-align: center;
  margin-right: -1px;
  margin: 0 auto;
}
section.travel .search-button {
  position: absolute;
  right: 0;
  width: 139px;
  height: 52px;
  padding: 16px 24px;
  gap: 10px;
  color: #FFF;
  font-family: Aleo;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  background: #5373FD;
}
section.travel .search-icon {
  position: absolute;
  left: 510px;
  margin-right: 12px;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  filter: invert(100%);
}
section.travel .scroll-down-link {
  color: #FFF;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: Josefin Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.8px;
  text-decoration: none;
  margin-bottom: 4px;
  margin-top: 211px;
}
section.travel .chevron-down {
  width: 14px;
  height: 16px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 120px;
  filter: invert(100%);
}

.menu-item {
  background: #5373FD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 84px;
}
.menu-item .burger-menu {
  display: none;
  cursor: pointer;
}
.menu-item .burger-menu span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: var(--White, #FFF);
  margin: 6px 0;
}
.menu-item h3.logo {
  display: flex;
  height: 20px;
  color: #FFF;
  font-family: "Josefin Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-decoration: none;
}
.menu-item nav {
  display: inline-flex;
  align-items: center;
}
.menu-item nav ul {
  display: flex;
}
.menu-item nav ul li {
  color: #FFF;
  display: flex;
  justify-content: center;
  margin-right: 40px;
  gap: 577px;
}
.menu-item nav ul li a {
  color: #FFF;
  font-family: "Aleo", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  text-decoration: none;
}

.menu-item.active {
  height: 150px;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-areas: "burger logo" "nav nav";
}
.menu-item.active .logo {
  grid-area: logo;
  justify-content: flex-end;
}
.menu-item.active .burger-menu.active {
  grid-area: burger;
  display: block;
}
.menu-item.active nav {
  grid-area: nav;
  display: flex;
}

@media (max-width: 768px) {
  .menu-item .burger-menu {
    display: block;
  }
  .menu-item nav {
    display: none;
  }
}
section.chooseUs {
  width: 100%;
  max-width: 1920%;
  background-image: url("../img/WhyBackground.jpg");
}
section.chooseUs .choose {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 136px;
  padding: 124px 112px 124px 0px;
}
section.chooseUs .img_1 {
  margin-right: 74px;
  width: 350px;
  height: 220px;
}
section.chooseUs .content {
  margin: 136px;
  display: block;
}
section.chooseUs .images {
  margin: 136px;
}
section.chooseUs h2 {
  color: var(--White, #FFF);
  font-family: Aleo;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: capitalize;
  margin-bottom: 24px;
}
section.chooseUs p {
  color: var(--White, #FFF);
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1.6px;
  margin-bottom: 32px;
}
section.chooseUs button {
  width: 213px;
  height: 60px;
  flex-shrink: 0;
  background: var(--Accent, #5373FD);
  color: var(--White, #FFF);
  text-align: center;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
}
section.chooseUs .chooseUs .images {
  width: 350px;
  height: 220px;
  display: block;
  margin-top: 124px;
}
section.chooseUs .chooseUs .images img {
  width: 350px;
  height: 220px;
}

.icon-container {
  display: flex;
  width: 424px;
  height: 139px;
  align-items: center;
  gap: 4px;
}

.icon-box {
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: 120px;
  margin-left: 50px;
}

.line {
  width: 872px;
  height: 90px;
  border-radius: 50%;
  border-top: 1px dashed #FFF;
}

h4 {
  color: var(--White, #FFF);
  text-align: center;
  font-family: Aleo;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: capitalize;
  margin-top: 8px;
  position: absolute;
  bottom: -5px;
}

.grand_spain {
  display: flex;
  flex-direction: column;
}
.grand_spain .content_1,
.grand_spain .content_2 {
  width: 100%;
  max-width: 1920px;
  height: 684px;
  position: relative;
}
.grand_spain .card {
  width: 648px;
  height: 344px;
  position: absolute;
  top: 220px;
  left: 300px;
  background: rgba(35, 35, 35, 0.9);
}
.grand_spain h4 {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 2px;
  margin-bottom: 16px;
  margin-top: 44px;
  margin: 32px;
}
.grand_spain h2 {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  margin-bottom: 16px;
  margin: 32px;
}
.grand_spain p {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1.6px;
  margin: 32px;
}
.grand_spain button {
  width: 213px;
  height: 60px;
  margin-right: 32px;
  color: #FFF;
  text-align: center;
  font-family: Aleo;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  background: #486BFE;
}
.grand_spain .card_2 {
  width: 648px;
  height: 344px;
  position: absolute;
  bottom: 120px;
  right: 300px;
  background: rgba(35, 35, 35, 0.9);
}
.grand_spain .content_1 {
  background-image: url("../img/spain1.png");
}
.grand_spain .content_2 {
  background-image: url("../img/spain_2.png");
}

.our_tourist {
  display: block;
  width: 100%;
  max-width: 1920px;
  height: 680px;
  background-image: url("../img/bg.png");
  position: relative;
}
.our_tourist h2 {
  padding-top: 120px;
  color: var(--White, #FFF);
  text-align: center;
  font-family: Aleo;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: capitalize;
}
.our_tourist .card {
  width: 885px;
  height: 280px;
  background: #333;
  position: absolute;
  bottom: 180px;
  right: 0;
}
.our_tourist .content {
  width: 885px;
  height: 280px;
  left: 200px;
  bottom: 180px;
  box-sizing: border-box;
  justify-content: center;
}
.our_tourist .photo {
  position: absolute;
  left: 120px;
  top: 220px;
  bottom: 180px;
}
.our_tourist h3 {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
  top: 40px;
  margin: 20px;
}
.our_tourist p {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  letter-spacing: 1.6px;
  margin: 60px;
}
.our_tourist .quote-left {
  position: relative;
  top: 86px;
  left: 30px;
  width: 20px;
  height: 20px;
}

footer {
  max-width: 1920px;
  height: 268px;
  display: block;
  width: 100%;
  background: #000;
}
footer .heading {
  padding-top: 80px;
  display: block;
  text-align: center;
  justify-content: center;
}
footer h2 {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
footer p {
  color: #FFF;
  font-family: Josefin Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.8px;
}
footer li a {
  color: #FFFFFF;
  text-decoration: none;
}
footer .socials nav ul {
  display: flex;
  justify-content: center;
}

.socials nav ul li {
  margin: 32px;
}

.socials nav ul li a img {
  width: 20px;
  height: auto;
  filter: invert(1);
  transition: filter 0.3s ease;
}

.socials nav ul li a:hover img {
  filter: invert(100%) sepia(1) saturate(5) hue-rotate(45deg);
}

/*# sourceMappingURL=style.css.map */
